body {
    background-color: #B6EADA;
}
nav {
    padding: 20px 0px 10px 0px;
}
nav ul {
    margin: 8px 0px;
    padding: 0px;
    
}
nav li {
    display: inline;
    list-style: none;
}
.nav-name {
    font-size: 22px;
}
.nav-menu {
    margin-left: 10px;
}
nav a {
    text-decoration: none;
    color: #03001C;
    transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
    color: #864879;
}
hr {
    border-top: 2px solid black;
    margin-top: 0;
}
.profile-pic {
    max-width: 200px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 8rem;
    position: absolute;
    visibility: visible;
    z-index: 1;
    filter: drop-shadow(3px 5px 10px #434242);
}
.first-text {
    margin-top: 50px;
    color: #03001C;
}
.waving-name {
    font-size: 50px;
    margin-left: 95px;
}
.main-name {
    font-size: 65px;
}
.description-name {
    font-size: 38px;
    margin-left: 60px;
}
.circulo-1 {
    width: 180px;
    height: 180px;
    background-color: #301E67;
    border-radius: 50%;
    position: absolute;
    visibility: visible;
    margin-left: 20rem;
    filter: drop-shadow(3px 5px 10px #434242);
}
.circulo-2 {
    width: 120px;
    height: 120px;
    background-color: #5B8FB9;
    border-radius: 50%;
    position: absolute;
    visibility: visible;
    margin-top: 11rem;
    filter: drop-shadow(3px 5px 10px #434242);
}
.about-text {
    color: #03001C;
    margin-top: 7rem;
    text-align: center;
}
.about-me {
    font-size: 55px;
}
.about-paragraph {
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 20px;
}
#contact {
    color: #03001C;
    text-align: center;
    margin-bottom: 3rem;
}
-projects-text {
    color: #03001C;
}